@import './colors';

.PageHeader {
  padding-top: 100px;
  text-align: left;
}
.Grid {
  display: flex;
}
.PageHeader-Content {
  width: 85%;
}
.PageHeader-Title {
  font-size: 130px;
  letter-spacing: -6px;
  line-height: 130px;
  color: #000;
}
.TextStyles {
  box-sizing: border-box;
  width: 100%;
}
.TextStyles p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #262c30;
  margin-bottom: 32px;
}

.TextBlock p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.TextBlock .Grid {
  padding: 0;
  margin: 0;
}
.InlineContent {
  padding-top: 80px;
}
.VideoBlock {
  padding-top: 32px;
  padding-bottom: 64px;
}
.VideoBlock.VideoBlock--inline .VideoBlock-VideoContainer {
  margin: 0 auto;
  width: 60%;
}
.VideoBlock .VideoBlock-Video {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  width: 100%;
  height: 500px;
}
.ImageBlock--wide {
  display: flex;
  align-items: flex-start;
}
.ImageBlock {
  padding-top: 32px;
  padding-bottom: 64px;
  width: 100%;
}
.ImageBlock--wide .ImageBlock-InlineItemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1;
  width: 100%;
}
.ImageBlock--wide.ImageBlockModifyer--center
  .ImageBlock--NoCaption
  .ImageBlock-ImageContainer {
  order: 1;
  margin-right: auto;
  margin-left: auto;
}
.ImageBlock .ImageBlock-Image {
  cursor: pointer;
}
.SmartImage--inline {
  background-size: 100% 100%;
  position: static;
}
.SmartImage {
  background-repeat: no-repeat;
  background-position: 50%;
}
.SmartImage--inline-Image {
  display: block;
  height: 500px;
  width: auto;
}
.QuoteBlock {
  padding-top: 32px;
  padding-bottom: 64px;
}
.QuoteBlock .Grid {
  margin: 0 8.33333%;
  padding: 0;
  width: auto;
}
.QuoteBlock-Content {
  flex: 11 1;
  border-left: $main-color 5px solid;
  padding-left: 50px;
  padding-bottom: 0;
  background: none;
}
.QuoteBlock-Text {
  text-transform: none;
  font-style: italic;
}
.QuoteBlock-Text:before {
  text-transform: none;
  font-style: italic;
  content: "\201C";
  position: absolute;
  margin-left: -16px;
  color: $main-color;
}
.QuoteBlock-Text p {
  display: inline;
  line-height: 41px;
}
.QuoteBlock-Text:after {
  text-transform: none;
  font-style: italic;
  margin-left: 3.2px;
  content: "\201D";
  color: $main-color;
}
.TextBlock:last-child {
  padding-bottom: 32px;
}
.QuoteBlock-Author {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #a2aeb6;
  padding-top: 22.4px;
}

@media (min-width: 90em) {
  .Grid {
    max-width: 1180px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .PageHeader--tertiary .PageHeader-Title {
    font-size: 90px;
    line-height: 95px;
    letter-spacing: -5px;
  }
  .PageHeader-Title {
    padding-right: 25%;
  }
  .QuoteBlock-Text {
    font-size: 38px;
    line-height: 47px;
    letter-spacing: -1.5px;
  }
  .QuoteBlock-Text:before {
    font-size: 38px;
    line-height: 47px;
    letter-spacing: -1.5px;
  }
  .QuoteBlock-Text:after {
    font-size: 38px;
    line-height: 47px;
    letter-spacing: -1.5px;
  }
}
@media (max-width: 89.99em) and (min-width: 73.75em) {
  .PageHeader--tertiary .PageHeader-Title {
    font-size: 90px;
    line-height: 95px;
    letter-spacing: -5px;
  }
  .QuoteBlock-Text {
    font-size: 33px;
    line-height: 42px;
    letter-spacing: -1.2px;
  }
}
@media (max-width: 89.99em) and (min-width: 50em) {
  .Grid {
    max-width: 1180px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 73.74em) and (min-width: 50em) {
  .PageHeader--tertiary .PageHeader-Title {
    font-size: 80px;
    line-height: 85px;
    letter-spacing: -5px;
  }
}
@media (min-width: 50em) {
  .TextBlock {
    margin-left: 25%;
    margin-right: 25%;
  }
  .QuoteBlock .Grid {
    margin: 0 25%;
  }
  .QuoteBlock-Text:before {
    margin-left: -22.4px;
  }
  .TextBlock {
    margin-left: 25%;
    margin-right: 25%;
  }
  .TextBlock .TextBlock-Content {
    flex: 12 1;
  }
  .QuoteBlock-Text {
    font-size: 26px;
    line-height: 37px;
    letter-spacing: -1px;
  }
}
@media (max-width: 49.99em) {
  .Grid {
    flex-direction: column;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .QuoteBlock .Grid {
    margin: 0 25%;
  }
  .InlineContent {
    padding-top: 40px;
  }
  .TextBlock .TextBlock-Content {
    margin-left: 8.33333%;
    margin-right: 8.33333%;
  }
}
@media (max-width: 49.99em) and (min-width: 34.375em) {
  .PageHeader-Content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .PageHeader--tertiary .PageHeader-Title {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -3px;
  }
  .QuoteBlock-Text {
    font-size: 26px;
    line-height: 37px;
    letter-spacing: -1px;
  }
}
@media (max-width: 34.365em) {
  .PageHeader {
    padding-top: 60px;
  }
  .PageHeader-Content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .PageHeader--tertiary .PageHeader-Title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2px;
  }
  .TextBlock p {
    font-size: 15px;
    line-height: 27px;
  }
  .QuoteBlock .Grid {
    margin: 0 8.33333%;
    padding: 0;
    width: auto;
  }
  .QuoteBlock {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .QuoteBlock-Text {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -.5px;
  }
  .QuoteBlock-Text:before {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -.5px;
  }
  .QuoteBlock-Text {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -.5px;
  }
}